*.o
main*
combinatorialOpt
check_res.py
combinatorialOptBFS
nqueens
*.txt
*pco
.vscode
combinatorial_optimization/nqueens
combinatorial_optimization/job.sh
combinatorial_optimization/implementations/pco
